.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.collinsdictionary.com/images/full/cinema_130498385.jpg");

  /* Set a specific height */
  height: 93.2vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.imgContainer{
  display: flex;
  flex-direction: row;
  img{
    margin-left: 15px;
    width:200px;
    height: 300px;
  }
}

